<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="app.js" defer></script>
    <style type="text/tailwindcss">
        button {
        @apply p-4 rounded-md text-base font-bold text-white;
      }
      .attack {
        @apply bg-blue-600 hover:bg-blue-700;
      }
      .medikit {
        @apply bg-red-500 hover:bg-red-700;
      }
      .header {
        @apply bg-green-400 text-center p-4 text-xl font-bold mb-20;
      }
      .healthbar {
        @apply rounded-md border border-gray-500 w-full h-6;
      }
      .healthbar__value {
        @apply h-full w-full bg-red-400 hover:bg-red-600;
      }
      .container {
        @apply text-center p-4 m-4 shadow-xl rounded-md font-bold max-w-xl mx-auto;
      }
      :disabled {
        @apply bg-gray-400 hover:bg-gray-400 cursor-not-allowed;
      }
    </style>
</head>

<body>
    <div id="game">
        <div class="header">
            <h1>Game | Round: {{ round }}</h1>
        </div>
        <div class="container" v-if="whoWins">
            <h2 class="text-3xl font-bold">Game Over</h2>
            <template v-if="whoWins === 'player'">
                <p class="text-xl font-bold">Hai vinto!</p>
            </template>
            <template v-else-if="whoWins === 'enemy'">
                <p class="text-xl font-bold">Hai perso!</p>
            </template>
            <template v-else>
                <p class="text-xl font-bold">Pareggio!</p>
            </template>
            <button @click="resetGame"
                class="bg-green-500 hover:bg-green-700 p-4 rounded-md text-base font-bold text-white">
                Rigioca
            </button>
        </div>

        <div class="my-24">
            <section id="enemy" class="container">
                <h2>Nemico {{enemyHealth}}</h2>
                <div class="healthbar">
                    <div class="healthbar__value" :style="enemyBarStyle"></div>
                </div>
            </section>
            <section id="player" class="container">
                <h2>Tu {{playerHealth}}</h2>
                <div class="healthbar">
                    <div class="healthbar__value" :style="playerBarStyle"></div>
                </div>
            </section>
        </div>

        <section id="controls" class="grid grid-cols-2 max-w-xl mx-auto gap-8 my-10">
            <button class="attack" @click="attackEnemy" :disabled="isGameOver">
                Attacco
            </button>
            <button class="attack" @click="attackEnemySpecial" :disabled="attackEnemydisabled || isGameOver">
                Attacco Speciale
            </button>
            <button class="medikit" @click="medikit" :disabled="!medikitDisabled || isGameOver">
                Medikit
            </button>
            <button class="medikit" @click="gameOver" :disabled="isGameOver">
                Mi Arrendo!
            </button>
        </section>
        <section id="log" class="container">
            <ul class="list-disc text-left mx-8">
                <li v-for="(entry, index) in logs" :key="index">{{ entry }}</li>
            </ul>
        </section>
    </div>
</body>

</html>